{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCMP-MIS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href= {% static 'css/style2.css' %}>
</head>
<body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<div class='main-body'>
    <div class='second-div row'>

        <div class='contentbox col-sm-7' style='text-align: center; padding-top: 15%; border-right: 2px solid #b2bbcf'>
            <div class='logo-content'>
                <img src="{%static 'image/BRAC_Logo.png' %}" length=50% width=50% alt="" style='padding: 3%;'>
                <h6>Humanitarian Crisis Management Programme</h6>
                <br>
                <h1>MIS DASHBOARD</h1>
            </div>
        </div>
        <div class='contentbox col-sm-5'>

            <h4>CONFIRM EMAIL</h4>
            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is your verified e-mail address{% endblocktrans %}</p>
            <br>
            
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-info custom-btn btn-sm">Confirm</button>
            </form> 

        </div>
    </div>
</div>



    
</body>
</html>







