<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class='second-div-message'>
    <div class='contentbox' style='width:60%; height:45%'>


        <h3>LOG-OUT</h3>
        <hr>
        <h6>Are you sure, you want to log-out?</h6>
        <br>

        <form action="" method="POST" class="password-change">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-info custom-btn btn-sm">Quit</button>
        </form>


        
    </div>
</div>
{% endblock %}
