<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<div class='second-div-form'>
    <div class='contentbox' style='width:95%; height:85%'>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Target Setup</h3>
            <hr>
            <h6>Set up your project target for RFA indicators. </h6>
            <input type="file" name="myfile" class="form-control">
            <br>
            <button type="submit" class="btn btn-info custom-btn btn-sm">Upload</button>
            <br>
        </form> 
    </div>
</div>
{% endblock %}